@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  /* font-size: 24px; */
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
  height: 100vh;
}

header {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
  line-height: 1.4em;
  font-weight: bold;
  color: hsl(186, 14%, 43%);
  margin-top: 5vh;
  margin-bottom: 1.5em;
}

main {
  flex-grow: 1;
}

button {
  font-family: inherit;
  font-size: 24px;
  border-radius: 0.3em;
  border: none;
}

.container {
  max-width: 720px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 1.3em;
  border-radius: 1em;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.input-form > div {
  margin-bottom: 1.6em;
}

.input-form label {
  display: block;
  font-weight: bold;
  color: hsl(186, 14%, 43%);
  margin-bottom: 0.5em;
}

.input-form input {
  border-radius: 0.3em;
  border: none;
  background-color: hsl(180, 37%, 97%);
  width: 100%;
  height: 2em;
  font-size: 24px;
  text-align: right;
  padding: 0 0.6em;
}

.input-form input[value] {
  font-weight: bold;
  font-family: inherit;
  color: hsl(183, 100%, 15%);
}

.input-form input[placeholder] {
  color: hsl(186, 14%, 43%);
}

/* add icon inside input  */

label {
  position: relative;
}

label[for='bill']:before {
  content: '';
  position: absolute;
  left: 0.8em;
  top: 0;
  bottom: -5.3em;
  width: 1em;
  background: url('./images/icon-dollar.svg') center / contain no-repeat;
}

label[for='people']:before {
  content: '';
  position: absolute;
  left: 0.8em;
  top: 0;
  bottom: -5.3em;
  width: 1em;
  background: url('./images/icon-person.svg') center / contain no-repeat;
}

.container-flex.tip-buttons {
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

.tip-buttons button,
#customTip {
  width: 47%;
}

.tip-buttons button {
  background-color: hsl(183, 100%, 15%);
  color: white;
  height: 2em;
}

.active,
.tip-buttons button:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: bold;
}

.result {
  width: 100%;
  padding: 1em;
  border-radius: 0.6em;
  background-color: hsl(183, 100%, 15%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1em 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.result p {
  color: white;
  margin: 0 0;
}

.result h3 {
  color: hsl(172, 67%, 45%);
  font-size: 2em;
  margin: 0.3em 0;
}

.result button {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.amount-result,
.total-result {
  justify-content: space-between;
}

p.disabled {
  font-size: 80%;
  opacity: 50%;
}

.amount-text,
.total-text {
  margin: auto 0;
}

.total-result {
  margin-bottom: 1em;
}
